<!--HEADER START -->  
<header id="header">
<div class="content">
<div id="logo"><a href="#slide1"> Rails<span style="color: red">Dev</span>Kev </a></div>

<nav id="nav">
	<ul>
		<!-- <li><a href="#slide1" class="active" title="Next Section" >main</a></li> -->
		<li><a href="#slide2" title="Next Section">About me</a></li>
		<li><a href="#slide3" title="Next Section">Portfolio</a></li>
		<li><a  href="#slide4" title="Next Section">Contact</a></li>
		<!-- <li><a href="#slide5" title="Next Section">Slide 5</a></li> -->
	</ul>
</nav>
</div>
</div>

</header>	
<!--HEADER END -->  

<!--SLIDES START-->  	
<div id="slide1">
	<div class="content">
	<!-- <div id="christmas_tree"> </div> -->
	<!-- 	<div id="snowflakes1"></div>
	<div id="snowflakes2"></div> -->
    <h2>Hi, my name is Kevin</h2>
	<h1 class = "intro_red">I develop</h1>
	<!--  <div id="divider"> </div> -->
	<h3>apps and websites using ruby on rails</h3>
    <!-- <div id="ribbon"></div> -->
	<!-- <div id="new_year"> </div> -->
	</div> 
</div> 

<div id="slide2">
	<div class="content" >
    <div class="quotes_container">
	<h3 class="quotes">“Coming Soon!”</h3>
	<!-- <img src="dr-seuss.png" align="left"/> <h4 class="author_name_gray">Dr. Seuss </h4> -->
	</div> 
	</div> 
</div> 
	
<div id="slide3">
	<div class="content">
	<!-- <div class="quotes_container"> -->
	<h3>Recent Projects</h3>
	<p> Besides this "Awesome" portfolio website i have made </p>

 <section>
				<ul id="da-thumbs" class="da-thumbs">
					<li>
						<a href="https://nameless-woodland-1549.herokuapp.com">
							<%= image_tag("home-by-now.png", :alt => "pic one") %>
							<div><span>Movie app named Flix</span></div>
						</a>
					</li>
					<li>
						<a href="https://secret-caverns-6635.herokuapp.com">
							<%= image_tag("2.jpg", :alt => "pic one") %>
							<div><span>Events app</span></div>
						</a>
					</li>
					<li>
						<a href="https://secret-caverns-6635.herokuapp.com">
							<%= image_tag("3.jpg", :alt => "pic one") %>
							<div><span>sample app is a social media app</span></div>
						</a>
					</li>
					<li>
						<a href="www.railsdevkev.com">
							<%= image_tag("4.jpg", :alt => "pic one") %>
							<div><span>Onepage scrol app</span></div>
						</a>
					</li>
					<li>	
						<a href="www.railsdevkev.com">
							<%= image_tag("5.jpg", :alt => "pic one") %>
							<div><span>Lotto app</span></div>
						</a>
					</li>
					<!-- <li>
						<a href="http://dribbble.com/shots/502927-My-Muse">
							<%= image_tag("6.jpg", :alt => "pic one") %>
							<div><span>My Muse by Zachary Horst</span></div>
						</a>
					</li>
					<li>
						<a href="http://dribbble.com/shots/502538-Natalie-Justin-Cleaning">
							<%= image_tag("7.jpg", :alt => "pic one") %>
							<div><span>Natalie & Justin Cleaning by Justin Younger</span></div>
						</a>
					</li>
					<li>
						<a href="http://dribbble.com/shots/502523-App-Preview">
							<%= image_tag("8.jpg", :alt => "pic one") %>
							<div><span>App Preview by Ryan Deshler</span></div>
						</a>
					</li> -->
	
				</ul>
			</section>
       

	
<div id="slide4">
     <div id="primary">
      <h3 >General information</h3>
          <p>I am currently busy setting up my portfolio by creating different web applications. Your project is always negotianable. to contact me see right site of this page.</p>
        </div>
        
        <div id="secondary" >
            <h3 >Contact Details</h3>
            <ul class="contact-info">
              <li class="mail"><a href="mailto:kevin.egstorf@gmail.com">kevin.egstorf@gmail.com</a></li>
               <li class="github"><a href="https://github.com/kevinegstorf">github repo</a></li>
              <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=kevinegstorf">@kevinegstorf</a></li>             
            </ul>
        </div>

    </div>
       </div>
     
     

	
	<!-- 
	<div id="slide5">
		<div class="content">
           <div class="quotes_container">
		    <h3 class="quotes">“My idea of Christmas, whether old-fashioned or modern, is very simple: loving others. Come to think of it, why do we have to wait for Christmas to do that?” </h3>
		    <img src="bob.png" align="left"/> <h4 class="author_name_white">Bob Hope </h4>
		  </div> -->
<!-- 		<div id="copyright"><a href="http://www.railsdevkev.com/">Copyright railsdevkev.com </a></div>  
		</div> 
		

    </div>  
	 -->

