
	
<div id="slide3">
	<div class="content">
		
	<!-- <div class="quotes_container"> -->
	<h3>Recent Projects</h3>
	<p> Besides this "Awesome" portfolio website i have made </p>

 <section>
				<ul id="da-thumbs" class="da-thumbs">
					<li>
						<a href="https://nameless-woodland-1549.herokuapp.com">
							<%= image_tag("home-by-now.png", :alt => "pic one") %>
							<div><span>Movie app named Flix</span></div>
						</a>
					</li>
					<li>
						<a href="https://secret-caverns-6635.herokuapp.com">
							<%= image_tag("2.jpg", :alt => "pic one") %>
							<div><span>Events app</span></div>
						</a>
					</li>
					<li>
						<a href="https://secret-caverns-6635.herokuapp.com">
							<%= image_tag("3.jpg", :alt => "pic one") %>
							<div><span>sample app is a social media app</span></div>
						</a>
					</li>
					<li>
						<a href="www.railsdevkev.com">
							<%= image_tag("4.jpg", :alt => "pic one") %>
							<div><span>Onepage scrol app</span></div>
						</a>
					</li>
					<li>	
						<a href="www.railsdevkev.com">
							<%= image_tag("5.jpg", :alt => "pic one") %>
							<div><span>Lotto app</span></div>
						</a>
					</li>
				</ul>
			</section>